.category-page {
  position: absolute;
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;

  .category-list {
    position: relative;
    margin: 5% 5%;
    padding: 0;
    width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    .list-header {
      width: 100%;
      margin-top: 1.5rem;
      border-bottom: whitesmoke solid 2px;
      margin-bottom: 1rem;

      h2 {
        color: whitesmoke;
      }
    }

    .plus-card {
      padding: 1rem;
      color: rgb(213, 222, 238);

      cursor: pointer;

      transition: all 0.3s ease;

      &:hover {
        background-color: rgb(213, 222, 238);
        color: rgb(40, 43, 51);
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .input-active {
      padding: 0;

      input[type="text"] {
        font-size: 1.17rem;
      }
    }

    .category-card {
      position: relative;
      border: solid 1px;
      border-radius: 5px;
      overflow: hidden;
      width: 18rem;
      height: 15rem;
      margin: 0.5rem;

      .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        border-bottom: solid grey 1px;
        height: 25%;

        svg {
          font-size: 1.17rem;
          cursor: pointer;
        }
      }

      .card-body {
        position: relative;
        background-color: rgb(213, 222, 238);
        padding: 1.3rem 1.5rem;
        width: 100%;
        height: 75%;
        max-height: 100%;
        overflow-y: auto;

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        input {
          margin-bottom: 0.5rem;
          width: 100%;
        }
      }

      .badge {
        //width: 8rem;
        font-size: 0.8rem;
        margin-right: 0.2rem;

        svg {
          cursor: pointer;
        }
      }

      .card-body::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // .category-list::-webkit-scrollbar {
  //   display: none;
  // }
}
