.dropdown {
  .category-input {
    box-shadow: none;
  }

  .dropdown-menu {
    transform: translate(16px, 35px) !important;
    border-radius: 0 0 5px 5px;
    border-top: none;
    border-color: #80bdff;
    width: 197.35px;
  }
}

.show {
  .category-input {
    border-radius: 0.25rem 0.25rem 0 0;
  }
}
