.expenses-page {
  .card {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-color: #355f77;
  }

  .container-header {
    border-bottom: 2px solid #355f77;
  }

  .container-collapse-header {
    &:hover {
      background-color: rgb(213, 222, 238);
      color: rgb(40, 43, 51);
    }
  }

  .record-separator {
    // border-radius: 0;
    // border-width: 2px;
    // border-bottom: none;
    // border-right: none;
    // border-left: none;
    border-top: 2px solid #355f77;
  }

  .record-expense {
    .card {
      border-radius: 0;
      border-bottom: none;
      border-right: none;
      border-left: none;
    }
  }
}
