.filter-space {
  position: fixed;
  right: 0;
  top: 120px;

  height: 75%;
  max-height: 650px;
  width: 23rem;
  z-index: 50;

  transform: translateX(80%);
  transition: transform 0.5s ease, top 0.3s ease;

  pointer-events: none;

  > * {
    pointer-events: auto;
  }

  .panel-name {
    position: absolute;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(122, 140, 172);
    width: 20%;
    height: 40%;
    min-height: 150px;
    z-index: 5;

    border-radius: 10px 0 0 10px;
    //box-shadow: -3px 0px 9px 3px rgba($color: #a1a1a1, $alpha: 0.5);

    p {
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: 0.5rem;
      transform: rotate(-90deg);
    }
  }

  .filter-panel {
    position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: rgb(174, 187, 211);
    z-index: 3;
    border-radius: 0 0 0 10px;
    //box-shadow: 0px 0px 9px 3px rgba($color: #a1a1a1, $alpha: 0.5);
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .react-datepicker-popper {
      display: block !important;
      overflow: visible !important;
      visibility: visible !important;
    }

    p {
      font-size: 0.6rem;
    }

    input[type="checkbox"] {
      cursor: pointer;
      margin-left: 0.4rem;
    }

    .slider-side-input {
      background-color: transparent;
      padding: 0;
      margin: 0;

      font-size: 0.6rem;
      text-align: end;
      height: unset;

      border: none;
      border-radius: 0;
      border-bottom: black solid 1px;
      outline: none !important;
      box-shadow: none !important;

      -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .form-label {
      margin-left: 0.5rem;
    }

    .btn {
      width: 80%;
      background-color: rgb(122, 140, 172);
      font-size: 1.2rem;
      color: black;
      border: none;
    }
  }

  .filter-panel::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .filter-space {
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(90%);

    .panel-name {
      //min-height: 0px;
      height: 20%;
      width: 10%;
      top: 10%;

      p {
        font-size: 1.5rem;
      }
    }

    .filter-panel {
      box-shadow: none;
      width: 90%;
    }
  }

  .at-top {
    top: 68.359px; //68.359px;
  }

  .tab-active {
    background-color: rgb(174, 187, 211);

    .panel-name {
      border-radius: 0 10px 10px 0;
      box-shadow: none;
    }

    // .panel-name {
    //   width: 20%;
    //   height: 40%;

    //   border-radius: 10px 0 0 10px;
    //   box-shadow: -3px 0px 9px 3px rgba($color: #a1a1a1, $alpha: 0.5);

    //   p {
    //     font-weight: 700;
    //     font-size: 2rem;
    //     letter-spacing: 0.5rem;
    //     transform: rotate(-90deg);
    //   }
    // }
  }
}

.tab-active {
  transform: translateX(0%);
}
