.image-picker-wrapper {
  color: white;
  background-color: #343a40;
  background-clip: padding-box;
  border: 2px dashed #355f77;
  border-radius: 0.25rem;

  &:hover {
    background-color: #23272b;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}
