.image-carosuel {
  background-color: #ced4da;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  border-radius: 0.25rem;

  img {
    cursor: zoom-in;
  }

  .cursor-transparent-caption {
    pointer-events: none;

    > * {
      pointer-events: auto;
    }
  }
}
