.image-picker-wrapper {
  background-color: #fff;
  background-clip: padding-box;
  border: 2px dashed #ced4da;
  border-radius: 0.25rem;

  &:hover,
  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}
