.jumbo {
  height: 15rem;
  color: rgb(207, 207, 207);
  position: relative;
  margin: 0;

  @media screen and (max-width: 400px) {
    height: 10rem;
  }

  .image {
    background: url("../assets/budget6.jpg") no-repeat 50% 45%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @media screen and (max-width: 1500px) {
      background: url("../assets/budget6.jpg") no-repeat 50% 45%;
    }

    @media screen and (max-width: 800px) {
      background: url("../assets/budget8.jpg") no-repeat center;
    }

    @media screen and (max-width: 400px) {
      height: 10rem;
      background: url("../assets/budget9.jpg") no-repeat center;
    }
  }
}
