.home-page-jumbo {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../assets/money-back.jpg');
  background-size: cover;

  height: calc(100% - 68px);

  .overlay {
    background: rgba(0, 0, 0, 0.75);
    color: white;
  }
}
