// .login-form {
//   margin: auto;
//   margin-top: 2rem;
//   width: 35%;
//   background-color: #cecdcd1f;
//   padding: 1rem 2rem;
// }

.login-space {
  label,
  a {
    color: rgb(226, 226, 226);
  }
  .btn-primary {
    border-color: #355f77;
    background-color: #355f77;
  }
}
