.login-form {
  margin: auto;
  width: 45%;
  background-color: #cecdcd1f;
  padding: 1rem 2rem;

  .btn-outline-primary {
    margin-bottom: 0.3rem;

    img {
      width: 2rem;
      margin-right: 1rem;
    }
  }
}
