.planning-space {
  color: rgb(226, 226, 226);
  position: absolute;
  left: 25%;
  //height: 100%;
  width: 60%;
  padding: 30px;

  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .planning-list {
    margin-bottom: 2rem;

    .item-header {
      display: flex;
      flex-direction: row;

      margin-top: 1.5rem;
      border-bottom: whitesmoke solid 2px;
      margin-bottom: 1rem;

      h2 {
        margin-right: 0.5rem;
      }

      .btn {
        background-color: transparent;
        border: none;
        box-shadow: none !important;
      }

      .dropdown-menu {
        background-color: rgb(82, 100, 128);
        border-color: rgb(60, 65, 83);
        border-radius: 5px;
        width: 100px;

        .dropdown-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          p {
            font-size: 1.2rem;
            color: rgb(226, 226, 226);
          }

          &:hover {
            background-color: rgb(128, 140, 180);
          }
        }
      }
    }

    .list-body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      column-gap: 10px;
      row-gap: 15px;

      .planning-card {
        position: relative;
        justify-self: center;
        border: solid 1px #355f77;
        border-radius: 5px;
        overflow: hidden;
        width: 17rem;
        height: 15rem;
        margin: 0.5rem;

        .card-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-content: center;
          align-items: center;
          background-color: #355f77; //#355f77

          border-bottom: solid rgb(63, 63, 63) 1px;
          height: 25%;
        }

        .card-body {
          position: relative;
          background-color: rgba(35, 46, 56, 0.267);
          padding: 0.8rem 1rem;
          width: 100%;
          height: 75%;
          max-height: 100%;
          overflow-y: auto;

          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */

          .badge {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            align-content: center;

            cursor: pointer;

            width: 100%;
            height: 2rem;
            margin-bottom: 0.4rem;
            padding-left: 1rem;
            padding-right: 1.2rem;

            font-size: 1.2rem;

            background-color: #355f77;

            input {
              background-color: transparent;
              color: rgb(226, 226, 226);

              width: 20%;
              padding: 0;
              margin: 0;

              //font-size: 0.6rem;
              text-align: end;
              height: unset;

              border: none;
              border-radius: 0;
              border-bottom: black solid 1px;
              outline: none !important;
              box-shadow: none !important;

              -moz-appearance: textfield;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }

        .card-body::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

.planning-space::-webkit-scrollbar {
  display: none;
}

.income-list {
  column-gap: 20px !important;
}

.income-plan {
  background-color: #355f77;

  position: relative;
  justify-self: center;

  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 2rem;

  border-radius: 50px;

  font-size: 1.7rem;

  p {
    margin: 0;
  }

  input {
    background-color: transparent;
    color: rgb(226, 226, 226);

    width: 20%;
    padding: 0;
    margin: 0;

    text-align: end;
    line-height: 0;

    border: none;
    border-radius: 0;
    border-bottom: black solid 1px;
    outline: none !important;
    box-shadow: none !important;

    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .planning-space {
    width: 95%;
    left: 5%;
  }

  .mobile-active-button {
    background-color: #2e303a !important;
    left: unset !important;
    right: 0;

    border-radius: 10px 0 0 10px !important;
  }
}

.separator {
  position: relative;
  text-align: center;
  border-top: whitesmoke solid 2px;
  margin: 5rem 0 6rem 0;

  overflow: visible !important;

  p {
    font-size: 4rem;
    position: relative;
    margin: auto;
    bottom: 1%;
  }
}

.archive {
  cursor: unset !important;
  background-color: #5e6e77 !important;
}
