.planning-nav-space {
  height: 100%;
  width: 25%;
  color: rgb(226, 226, 226);

  z-index: 10;

  transition: transform 0.5s ease;

  .roll-out-button {
    position: inherit;
    background-color: #343841;
    cursor: pointer;

    display: none;
    align-items: center;
    justify-content: center;

    top: 15%;
    left: 100%;

    height: 12rem;
    width: 10%;

    border-radius: 0 10px 10px 0;

    z-index: 50;

    transition: all 0.5s ease;

    p {
      font-weight: 700;
      font-size: 1.2rem;
      letter-spacing: 0.4rem;
      transform: rotate(90deg);
    }
  }

  .planning-nav {
    background-color: #343841;

    height: 100%;
    width: 90%;

    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .nav-list {
      max-height: 58%;
      overflow: auto;

      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      .planning-nav-item {
        margin-bottom: 5px;
        padding: 0.3rem 1rem;
        display: flex;

        cursor: pointer;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        align-content: space-between;

        transition: background 0.3s ease;

        &:hover {
          background-color: #515766;
        }

        @media screen and (min-width: 500px) and (max-width: 1000px) {
          .year {
            display: none;
          }
        }
      }
    }

    .nav-list::-webkit-scrollbar {
      display: none;
    }

    .planning-nav-header {
      margin: 20px 0;
      padding-bottom: 10px;
      text-align: center;
      border-bottom: whitesmoke solid 2px;
    }

    .archive-nav {
      cursor: pointer;
      text-align: center;
      font-size: 1.5rem;

      p {
        margin: 0.4rem 0;
      }

      &:hover {
        background-color: #515766;
      }
    }

    .new-plan {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;

      margin: 0 0 20px 0;
      padding-top: 10px;
      text-align: center;
      border-top: whitesmoke solid 2px;

      cursor: pointer;

      h5 {
        margin-right: 15px;
      }

      &:hover {
        background-color: #4d535f;
      }
    }
  }

  .planning-nav::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .planning-nav-space {
    transform: translateX(-100%);
    width: 100%;

    .planning-nav {
      background-color: #343841;
      width: 100%;

      .year {
        margin-right: 3rem;
      }
    }

    .roll-out-button {
      display: flex;
    }
  }
  .mobile-active-panel {
    transform: translateX(0%);
  }
}
