.planning-space {
  color: rgb(226, 226, 226);
  position: absolute;
  left: 21%;
  //height: 100%;
  width: 60%;
  padding: 30px;

  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .planning-list {
    .item-header {
      display: flex;
      flex-direction: row;

      margin-top: 1.5rem;
      border-bottom: whitesmoke solid 2px;
      margin-bottom: 1rem;

      .btn {
        background-color: transparent;
        border: none;
        box-shadow: none !important;
      }
    }

    .list-body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      column-gap: 10px;
      row-gap: 15px;

      .planning-card {
        position: relative;
        justify-self: center;
        border: solid 1px #355f77;
        border-radius: 5px;
        overflow: hidden;
        width: 15rem;
        height: 13rem;
        margin: 0.5rem;

        .card-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-content: center;
          align-items: center;
          background-color: #355f77;

          border-bottom: solid rgb(63, 63, 63) 1px;
          height: 25%;
        }

        .card-body {
          position: relative;
          background-color: rgba(35, 46, 56, 0.267);
          padding: 0.8rem 1.3rem;
          width: 100%;
          height: 75%;
          max-height: 100%;
          overflow-y: auto;

          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */

          .badge {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            align-content: center;

            cursor: pointer;

            width: 100%;
            height: 1.3rem;
            margin-bottom: 0.3rem;
            padding-left: 1.2rem;
            padding-right: 1.8rem;

            font-size: 0.8rem;

            background-color: #355f77;

            input {
              background-color: transparent;
              color: rgb(226, 226, 226);

              width: 20%;
              padding: 0;
              margin: 0;

              font-size: 0.6rem;
              text-align: end;
              height: unset;

              border: none;
              border-radius: 0;
              border-bottom: black solid 1px;
              outline: none !important;
              box-shadow: none !important;

              -moz-appearance: textfield;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }

        .card-body::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

.planning-space::-webkit-scrollbar {
  display: none;
}

.planning-nav-space {
  height: 100%;
  width: 20%;
  color: rgb(226, 226, 226);

  z-index: 10;

  transition: transform 0.5s ease;

  .roll-out-button {
    position: inherit;
    background-color: #343841;
    cursor: pointer;

    display: none;
    align-items: center;
    justify-content: center;

    top: 15%;
    left: 100%;

    height: 12rem;
    width: 10%;

    border-radius: 0 10px 10px 0;

    z-index: 50;

    transition: all 0.5s ease;

    p {
      font-weight: 700;
      font-size: 1.2rem;
      letter-spacing: 0.4rem;
      transform: rotate(90deg);
    }
  }

  .planning-nav {
    background-color: #343841;

    height: 100%;
    width: 90%;

    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .planning-nav-header {
      margin: 20px 0;
      padding-bottom: 10px;
      text-align: center;
      border-bottom: whitesmoke solid 2px;
    }

    .new-plan {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;

      margin: 20px 0;
      padding-top: 10px;
      text-align: center;
      border-top: whitesmoke solid 2px;

      cursor: pointer;

      h5 {
        margin-right: 15px;
      }

      &:hover {
        background-color: #4d535f;
      }
    }

    .planning-nav-item {
      //background-color: green;
      margin-bottom: 5px;
      padding: 0.3rem 1rem;
      display: flex;

      cursor: pointer;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      align-content: space-between;

      transition: background 0.3s ease;

      &:hover {
        background-color: #4d535f;
      }
    }
  }

  .planning-nav::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .planning-nav-space {
    transform: translateX(-100%);
    width: 100%;

    .planning-nav {
      background-color: #343841e1;
      width: 100%;
    }

    .roll-out-button {
      display: flex;
    }
  }

  .planning-space {
    width: 95%;
    left: 5%;
  }

  .mobile-active-panel {
    transform: translateX(0%);
  }

  .mobile-active-button {
    background-color: #2e303a !important;
    //transform: translateX(-200%);
    left: unset !important;
    right: 0;

    border-radius: 10px 0 0 10px !important;
  }
}
