@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

body {
  background-color: rgb(40, 43, 51);
}

@import "./Jumbotron";
@import "./BudgetTable";
@import "./FormSpace";
@import "./NavigationBar";
@import "./Login";
@import "./BudgetPage";
@import "./CategoryPage";
@import "./DatePicker";
@import "./ImagePicker";
@import "./ImageCarousel";
@import "./FilterPanel";
@import "./Dropdown";
@import "./ExpenseDetails";
@import "./PlanningPage";
@import "./ContainerCollapse";
@import "./NoScrollbar";
